name: Check for Changeset

on:
  pull_request:
    branches: [main]

jobs:
  check-changeset:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Check for changeset
        run: |
          bunx changeset status --since=origin/main
